# 🧱 بيئة التطوير
myenv/
venv/
.env

# 🗃️ قاعدة البيانات المحلية
db.sqlite3

# ⚙️ ملفات النظام
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*.pyd

# 🧰 ملفات جانغو
staticfiles/
media/
*.sqlite3

# 🧩 بيئة Visual Studio Code
.vscode/
.idea/

# 🧪 ملفات الاختبار المؤقتة
.coverage
*.mo
*.egg-info/
